Repository Noderoid64/HoustonBrowser, pull requests merged in 2018-11, with the labels that each got.

#38 MockDocument
  HoustonBrowser.DOM/Attr.cs
  HoustonBrowser.DOM/CDATASection.cs
  HoustonBrowser.DOM/CharacterData.cs
  HoustonBrowser.DOM/Comment.cs
  HoustonBrowser.DOM/DOMException.cs
  HoustonBrowser.DOM/Document.cs
  HoustonBrowser.DOM/DocumentFragment.cs
  HoustonBrowser.DOM/DocumentType.cs
  HoustonBrowser.DOM/Element.cs
  HoustonBrowser.DOM/Entity.cs
  HoustonBrowser.DOM/EntityReference.cs
  HoustonBrowser.DOM/HoustonBrowser.DOM.csproj
  HoustonBrowser.DOM/Interface/ICharacterData.cs
  HoustonBrowser.DOM/Interface/IDocument.cs
  HoustonBrowser.DOM/Interface/IElement.cs
  HoustonBrowser.DOM/Interface/INamedNodeMap.cs
  HoustonBrowser.DOM/Interface/INode.cs
  HoustonBrowser.DOM/Interface/IText.cs
  HoustonBrowser.DOM/MockDocument.cs
  HoustonBrowser.DOM/NamedNodeMap.cs
  HoustonBrowser.DOM/Node.cs
  HoustonBrowser.DOM/ProcessingInstruction.cs
  HoustonBrowser.DOM/Text.cs
  HoustonBrowser.JS.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.JS.Test.AssemblyInfo.cs
  HoustonBrowser.JS.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.JS.Test.AssemblyInfoInputs.cache
  HoustonBrowser.JS.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.JS.Test.Program.cs
  HoustonBrowser.JS.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.JS.Test.assets.cache
  HoustonBrowser.JS.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.JS.Test.csproj.CoreCompileInputs.cache
  HoustonBrowser.JS.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.JS.Test.csprojAssemblyReference.cache
  HoustonBrowser.JS.Test/obj/HoustonBrowser.JS.Test.csproj.nuget.cache
  HoustonBrowser.JS.Test/obj/HoustonBrowser.JS.Test.csproj.nuget.g.props
  HoustonBrowser.JS.Test/obj/HoustonBrowser.JS.Test.csproj.nuget.g.targets
  HoustonBrowser.JS.Test/obj/project.assets.json
  HoustonBrowser.JS/obj/HoustonBrowser.JS.csproj.nuget.cache
  HoustonBrowser.JS/obj/HoustonBrowser.JS.csproj.nuget.g.props
  HoustonBrowser.JS/obj/HoustonBrowser.JS.csproj.nuget.g.targets
  HoustonBrowser.JS/obj/project.assets.json
  HoustonBrowser.Network.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Network.Test.AssemblyInfo.cs
  HoustonBrowser.Network.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Network.Test.AssemblyInfoInputs.cache
  HoustonBrowser.Network.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Network.Test.Program.cs
  HoustonBrowser.Network.Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
  HoustonBrowser.Network.Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
  HoustonBrowser.Network.Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
  HoustonBrowser.Network.Test/obj/HoustonBrowser.Network.Test.csproj.nuget.g.targets
  HoustonBrowser.Parsing.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Parsing.Test.AssemblyInfo.cs
  HoustonBrowser.Parsing.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Parsing.Test.AssemblyInfoInputs.cache
  HoustonBrowser.Parsing.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Parsing.Test.Program.cs
  HoustonBrowser.Parsing.Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
  HoustonBrowser.Parsing.Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
  HoustonBrowser.Parsing.Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
  HoustonBrowser.Parsing.Test/obj/HoustonBrowser.Parsing.Test.csproj.nuget.g.targets
Labels: Dom

#71 Default styles for controls
  HoustonBrowser.Controls/BrowserControl.cs
  HoustonBrowser.Controls/Controls/Button.cs
  HoustonBrowser.Controls/Controls/Label.cs
  HoustonBrowser.Controls/Controls/Rectangle.cs
  HoustonBrowser.Controls/Controls/TabControl.cs
  HoustonBrowser.Controls/Controls/TextBox.cs
Labels: Control

#79 [Fix] Core merge conflict
  HoustonBrowser.Core/Core.cs
  HoustonBrowser.Network/MockNetworkClient.cs
Labels: Bug, Core

#80 Http coding
  HoustonBrowser.Network.Test/Model/Headers/HeaderFieldContentType.cs
  HoustonBrowser.Network.Test/Model/HttpRequestDatagramTest.cs
  HoustonBrowser.Network.Test/Model/HttpResponseDatagramTest.cs
  HoustonBrowser.Network/HttpMethods.cs
  HoustonBrowser.Network/Model/Headers/HeaderFieldContentType.cs
  HoustonBrowser.Network/Model/HttpHeader.cs
  HoustonBrowser.Network/Model/HttpRequestDatagram.cs
  HoustonBrowser.Network/Model/HttpResponseDatagram.cs
  HoustonBrowser.Network/Model/HttpVersion.cs
  HoustonBrowser.Network/NetworkClient.cs
Labels: Network

#82 Label click
  HoustonBrowser.Controls/BrowserControl.cs
  HoustonBrowser.Controls/Controls/LinkLabel.cs
  HoustonBrowser.Controls/Controls/MyPanel.cs
  HoustonBrowser.Controls/IBrowserControl.cs
  HoustonBrowser/MainWindow.xaml.cs
Labels: Control
